:root{ /* Sample usage: var(--fontColor) */
    --blue: #1509ff;
    --gray: #adadad;
    --yellow: #fff200;

    --rainbow: linear-gradient(90deg, red,orange,yellow,green,blue,indigo,violet, red);
    
    --defaultFont: Comic Sans MS,Arial,Helvetica,sans-serif;
}