body{
    background-image: url("/dvd-zilla/template/img/fillers/microfab.gif");
    padding: 0;
    margin: 0;
    font-family: var(--defaultFont);
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--yellow);
    margin: 1%;
    font-size: 1.1em;
}nav .logo{
    width: 15vh;
    height: 15vh;
}nav .logo:hover{
    content: url("/dvd-zilla/template/img/fillers/7upspot.gif");
    cursor: none;
}nav .item {
    text-decoration: none;
    color: var(--yellow);
}nav .item:nth-child(2n){
    margin-top: .5%;
}nav .active {
    border-bottom: 1px solid;   
}nav .certificate{
    margin-left: auto;
}nav .certificate:nth-child(2n){
    margin-right: auto;
    margin-top: 3%;
}

main { 
    text-align: center;
}

footer{
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}footer .tree-view{
    font-size: 1.2em !important;
}footer .tree-view img{
    width: 8%;
    height: 8%;
}

button:enabled, select, input[type="submit"]{
    cursor: pointer;
}

button, nav, footer, fieldset legend, select, label{
    user-select: none;
}

fieldset{
    margin: 10vh;
    font-size: 1.5em !important;
}

label{
    font-size: 1.1em !important;
}

hr{
    height: 1vh;
}hr:nth-of-type(even){
    background-image: url('/dvd-zilla/template/img/fillers/divider.gif');
}hr:nth-of-type(odd){
    background-image: url('/dvd-zilla/template/img/fillers/divider2.gif');
}

#mchammer{
    position: fixed;
    bottom: 0;
    animation: walking 15s linear infinite;
    cursor: help;
}

#wip{
    position: absolute;
    top:50vh;
    right:-30vh;
    transform: rotate(90deg);
}

#webAward{
    margin: 5vh;
}

.footer-window-body{
    display: flex;
    flex-direction: row;
}

.spaceAround{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.rainbow-animation{
    /* background-image: var(--rainbow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbowAnimation 35s linear infinite; */

    background-image: url('/dvd-zilla/template/img/fillers/rainbow.gif');
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent; 
}

.defaultFont{
    font-family: var(--defaultFont);
}

.rainbow{
    /* background: var(--rainbow); */
    background-image: url('/dvd-zilla/template/img/fillers/rainbow.gif');
}

.bottomFlames{
    background-image: url('/dvd-zilla/template/img/fillers/flames-no-bg.gif');
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 8vh !important;
}

@keyframes rainbowAnimation{
    to {background-position: 4500vh;}
}

@keyframes walking{
    0%{left: 0;}
    10%{left: 1%;}
    25%{left: 8%;}
    26%{left: 5%;}
    27%{left: 8%;}
    60%{left: 30%;}
    100%{left: 0;}
}
