body{
    background-image: url("/dvd-zilla/template/img/fillers/funky.gif");
    padding: 0;
    margin: 0;
    font-family: var(--defaultFont);
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--yellow);
}

nav .logo{
    width: 7%;
    height: 7%;
}nav .item {
    text-decoration: none;
    color: var(--yellow);
}nav .item:nth-child(2n){
    margin-top: .5%;
}nav .active {
    border-bottom: 1px solid;   
}

main { 
    text-align: center;
}

footer{
    width: 40%;
    margin-left: 30%;
    margin-top: 15%;
}footer .window-body{
    font-size: 1.5em;
}footer .tree-view img{
    width: 4%;
    height: 4%;
}

button:enabled, select{
    cursor: pointer;
}

button, nav, footer, fieldset legend, select{
    user-select: none;
}

.rainbow-animation{
    background-image: var(--rainbow);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbowAnimation 35s linear infinite;
}

.defaultFont{
    font-family: var(--defaultFont);
}

.rainbow{
    background: var(--rainbow);
}

@keyframes rainbowAnimation{
    to {background-position: 4500vh;}
}
